## 모의고사 1회

### (작업형1)

#### 1. 제공된 데이터(iris.csv) Sepal.Width 컬럼에 대해 Sepal.Width의 평균값을 기준으로 3배 표준편차 이상으로 떨어진 값들의 합을 구하여라.

4.4

In [3]:
import pandas as pd
data = pd.read_csv(r'C:\BigData\practice_data\모의고사\01회\iris.csv')

width = data['Sepal.Width'] 
mean = width.mean()
std = width.std(ddof=1)

n = mean + 3*std
result = width[width>=n].sum()
print(result)

4.4

---

#### 2. 제공된 데이터(mtcars1.csv)의 disp 컬럼에 대해서 순위를 부여한 후, 1위부터 20위까지의 값들의 표준편차를 구하고 소수점 셋째 자리에서 반올림하여 나타내어라. (단, 동점은 동일한 순위를 부여하되 상위 등수를 기준으로 하며 최댓값을 1위로 함)

97.47

In [8]:
import pandas as pd
data = pd.read_csv(r'C:\BigData\practice_data\모의고사\01회\mtcars1.csv')

data['rank'] = data['disp'].rank(method='min', ascending=False)

std = data[data['rank'] <= 20]['disp'].std(ddof=1)
print(round(std, 2))

97.47

---

#### 3. 제공된 데이터(Cars93.csv)의 전체 레코드 수, 결측치가 있는 컬럼의 수, 전체 결측치 수, 결측치가 10개 이상인 컬럼들의 결측치가 있는 레코드만 삭제한 후의 전체 레코드의 수와 두 개 이상의 컬럼이 동시에 결측인 레코드의 행번호들의 합을 구한 후 모두 합하여라.

614

In [39]:
import pandas as pd
import numpy as np
data = pd.read_csv(r'C:\BigData\practice_data\모의고사\01회\Cars93.csv')

r1 = len(data)

# 결측치가 있는 칼럼의 수
r2 = 0
for i in data.columns:
    if(data[i].isna().sum()>0):
        r2 = r2 + 1

# 전체 결측치 수
r3 =0
for i in data.columns:
    r3 = r3 +  data[i].isna().sum()

# 결측치가 10개 이상인 칼럼들의 결측치가 있는 레코드만 삭제한 후의 전체 레코드 수
# for i in data.columns:
#     print({i}, data[i].isna().sum())

drop_data = data.dropna(subset=['Turn_circle', 'Rear_seat_room','Luggage_room'])
r4 = len(drop_data)

# 두 개 이상의 칼럼이 동시에 결측인 레코드의 행 번호들의 합
r5 = np.sum(data[data.isna().sum(axis=1)>=2].index)


print(r1, r2, r3, r4, r5)
result = r1 + r2 + r3 + r4 + r5
print(result)

93 5 39 70 407
614

---

### (작업형2)

### 1. 아래는 타이타닉호의 탑승자들의 생존과 관련한 데이터이다. 주어진 데이터를 이용하여 예측 모형을 만들고 아래에 따라 CSV 파일을 생성하시오.

In [ ]:
# id, survieved(생존여부: 0,1)

In [96]:
#### 모의고사 01회차_작업형2 Solution

##### STEP1. 데이터셋 불러오기
import pandas as pd
X_train = pd.read_csv(r'C:\BigData\practice_data\모의고사\01회\titanic3_X_train.csv')
X_test = pd.read_csv(r'C:\BigData\practice_data\모의고사\01회\titanic3_X_test.csv')
y_train = pd.read_csv(r'C:\BigData\practice_data\모의고사\01회\titanic3_y_train.csv')

In [97]:
pd.options.display.max_columns = None

In [98]:
# 데이터 확인
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785 entries, 0 to 784
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        785 non-null    int64
 1   pclass    785 non-null    int64
 2   name      785 non-null    object
 3   sex       785 non-null    object
 4   age       628 non-null    float64
 5   sibsp     785 non-null    int64
 6   parch     785 non-null    int64
 7   ticket    785 non-null    object
 8   fare      784 non-null    float64
 9   cabin     171 non-null    object
 10  embarked  784 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 67.6+ KB
None

In [99]:
print(X_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524 entries, 0 to 523
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        524 non-null    int64
 1   pclass    524 non-null    int64
 2   name      524 non-null    object
 3   sex       524 non-null    object
 4   age       418 non-null    float64
 5   sibsp     524 non-null    int64
 6   parch     524 non-null    int64
 7   ticket    524 non-null    object
 8   fare      524 non-null    float64
 9   cabin     124 non-null    object
 10  embarked  523 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 45.2+ KB
None

In [100]:

print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785 entries, 0 to 784
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        785 non-null    int64
 1   survived  785 non-null    int64
dtypes: int64(2)
memory usage: 12.4 KB
None

In [101]:
print(X_train.head())

   ID  pclass      name   sex   age  sibsp  parch             ticket    fare  \
0   1       3  Sdy*****  male   NaN      0      0             349222  7.8958
1   2       3  Pel*****  male  25.0      0      0  STON/O 2. 3101291  7.9250
2   3       3  Kar*****  male  22.0      0      0             350060  7.5208
3   4       3  Saa*****  male   NaN      0      0               2676  7.2250
4   5       3  Cor*****  male  19.0      0      0             349231  7.8958

  cabin embarked
0   NaN        S
1   NaN        S
2   NaN        S
3   NaN        C
4   NaN        S

In [102]:
print(X_test.head())

    ID  pclass      name     sex   age  sibsp  parch    ticket      fare  \
0  786       1  All*****  female   2.0      1      2    113781  151.5500
1  787       1  And*****    male  39.0      0      0    112050    0.0000
2  788       1  Bau*****    male   NaN      0      0  PC 17318   25.9250
3  789       1  Bax*****    male  24.0      0      1  PC 17558  247.5208
4  790       1  Bea*****    male  36.0      0      0     13050   75.2417

     cabin embarked
0  C22 C26        S
1      A36        S
2      NaN        S
3  B58 B60        C
4       C6        C

In [103]:
print(y_train.head())

   ID  survived
0   1         0
1   2         0
2   3         0
3   4         0
4   5         0

In [104]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)

(785, 11)
(785, 2)
(524, 11)

In [105]:
# 데이터 id, 필요없는 칼럼 제거
result_id = X_test['ID']
X_train.drop(columns=['ID', 'name','ticket'], inplace=True)
X_test.drop(columns=['ID', 'name','ticket'], inplace=True)
y_train.drop(columns=['ID'], inplace = True)

In [106]:
# 데이터 분리 (카테고리, 수치)
category_X_train = X_train.select_dtypes('object')
conti_X_train = X_train.select_dtypes(exclude = 'object')

category_X_test = X_test.select_dtypes('object')
conti_X_test = X_test.select_dtypes(exclude='object')

In [107]:
# 카테고리 결측치 확인
for i in category_X_train.columns:
    print({i}, category_X_train[i].isna().sum())

for i in category_X_test.columns:
    print({i}, category_X_test[i].isna().sum())

{'sex'} 0
{'cabin'} 614
{'embarked'} 1
{'sex'} 0
{'cabin'} 400
{'embarked'} 1

In [108]:
# 카테고리 결측치 제거
category_X_train.drop(columns = ['cabin'], inplace = True)
category_X_test.drop(columns =['cabin'], inplace = True)

category_X_train['embarked'].fillna(category_X_train['embarked'].mode()[0], inplace = True)
category_X_test['embarked'].fillna(category_X_test['embarked'].mode()[0], inplace = True)

In [109]:
# 수치형 결측치 확인
for i in conti_X_train.columns:
    print({i}, conti_X_train[i].isna().sum())

for i in conti_X_test.columns:
    print({i}, conti_X_test[i].isna().sum())

{'pclass'} 0
{'age'} 157
{'sibsp'} 0
{'parch'} 0
{'fare'} 1
{'pclass'} 0
{'age'} 106
{'sibsp'} 0
{'parch'} 0
{'fare'} 0

In [110]:
# 수치형 결측치 제거
conti_X_train['age'].fillna(conti_X_train['age'].mean(), inplace = True)
conti_X_test['age'].fillna(conti_X_test['age'].mean(), inplace = True)
conti_X_train['fare'].fillna(conti_X_train['fare'].mean(), inplace = True)

In [111]:
# 카테고리 인코딩
category_X_train_encoded = pd.get_dummies(category_X_train)
category_X_test_encoded = pd.get_dummies(category_X_test)

In [112]:
# 수치형 정규화
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
conti_X_train_scaled = pd.DataFrame(scaler.fit_transform(conti_X_train))
conti_X_test_scaled = pd.DataFrame(scaler.fit_transform(conti_X_test))

In [113]:
# 데이터 합치기
X_train = pd.concat([category_X_train_encoded, conti_X_train_scaled], axis = 1)
X_test = pd.concat([category_X_test_encoded, conti_X_test_scaled], axis = 1)

In [114]:
# 데이터 분할 (x_train -> train, val)
from sklearn.model_selection import train_test_split
train_x, val_x, train_y, val_y = train_test_split(X_train, y_train, test_size=0.2)

In [115]:
# 모델 생성 및 학습
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(train_x, train_y)

C:\Users\user\AppData\Local\Temp\ipykernel_16800\3954824000.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(train_x, train_y)

RandomForestClassifier()

In [116]:
# 모델 평가
from sklearn.metrics import roc_curve, auc
f1_score = model.predict_proba(val_x)[:,1]
fpr, tpr, thresholds = roc_curve(val_y, f1_score)
AUC = auc(fpr, tpr)
print(AUC)

0.8480769230769231

In [119]:
# 결과 도출 및 파일화
pred = pd.DataFrame(model.predict(X_test))
result = pd.concat([result_id, pred], axis = 1).rename({0: 'survived'})
result.to_csv(r'C:\BigData\test\연습문제\작업형2\result\모의고사1풀이.csv', index=False)

### (작업형3)

#### 1. 제공된 데이터(Cars93.csv)를 통해 자동차 타입이 Small인 경우보다 Large인 경우의 평균 가격에 차이가 있는 지 t검정을 통해 답하고자 한다. 가설은 아래와 같다.(단, 등분산인 정규 표본을 가정)

#### 👀 귀무가설: 모평균이 동일하다

##### (a) : Type이 Small인 경우와 Large인 경우의 Price 값을 각각 할당하고, mean()을 통해 점 추정량(=표본평균들의 차이)을 문제에서 요구하는 형태에 맞게 출력한다.

#### ✅ Large 타입의 모평균 - Small 타입의 모평균 의 점추정량 구하라 (반올림하여 소수 둘째 자리까지 계산)

13.85

In [123]:
import pandas as pd
data = pd.read_csv(r'C:\BigData\practice_data\모의고사\01회\Cars93.csv')

data.dropna(subset=['Type', 'Price'], inplace = True)

large = data[data['Type'] == 'Large']['Price']
small = data[data['Type'] == 'Small']['Price']

large_mean = large.mean()
small_mean = small.mean()

p = large_mean - small_mean
print(round(p, 2))

13.85

##### (b) : ttest_ind() 함수를 이용해 독립표본 t검정을 수행하고, 검정통계량(=점추정량/표준오차)을 문제에서 요구하는 형태에 맞게 출력한다.

#### ✅ a에 대한 표준 오차를 구하라 (반올림하여 소수 둘째 자리까지 계산)

1.61

In [126]:
# 표준 오차 = 점추정량/검정통계량
# 독립 표본 t 검정
from scipy.stats import ttest_ind
stat, pvalue = ttest_ind(large, small)

se = p/stat
print(round(se, 2))

1.61

##### (c)~(d) : interval() 함수를 이용해 95% 신뢰 하한을 계산하고 형태에 맞게 출력한다. 또한 이 값이 0보다 크기 때문에 가설은 ‘기각’된다.

#### ✅ a~b를 통해 95% 신뢰하한을 구하고 (반올림하여 소수 첫째 자리까지 계산),
#### ✅ 유의수준 0.05 하에서 가설검정의 결과를 채택/기각 중 하나로 출력하라

10.5
기각

#### 2. 제공된 데이터(dices.csv)는 주사위를 던졌을 때 1~6이 나올 확률이 1/6로 동일하다는 이론이실제로는 다르다는 것을 보이기 위해서 주사위를 500번 던진 결과이다. 이를 적합도 검정을 통해 답하고자 한다. 가설은 아래와 같다.

#### 👀 귀무가설: 모비율이 모두 동일하다

##### (a) : 주사위 눈금별 발생 빈도를 계산하고, 주사위 눈금 3이 나올 기대도수를 문제에서 요구하는 형태에 맞게 출력한다.

#### ✅ 주사위 눈금이 3이 나올 기대도수를 구하시오 (소수점을 버리고 정수값으로 계산)

83

In [145]:
import pandas as pd
data = pd.read_csv(r'C:\BigData\practice_data\모의고사\01회\dices.csv')

total = len(data)
e = float(total)/6

print(int(e))

83

In [146]:
print(data.columns)

Index(['trial', 'scale'], dtype='object')

##### (b)~(d) : chisquare() 함수를 통해 적합도 검정을 수행하고, 검정통계량과 p- 값을 문제에서 요구하는 형태에 맞게 출력한다. p - 값이 0이므로 본 가설 검정은 ‘기각’한다.

#### ✅ 위 가설을 검정하기 위한 검정통계량을 구하시오 (소수점을 버리고 정수값으로 계산)
#### ✅ 위 통계량에 대한 pvalue를 구하고 (반올림하여 소수 넷째 자리까지 출력하되, 0.0001보다 작을 경우 정수 0을 출력)
#### ✅ 유의수준 0.05하에서 가설검정의 결과를 채택/기각 중 하나를 출력하시오

411
0
기각

In [150]:
# 적합도 검정. 범주형 데이터 -> 카이제곱 검정 -> chisquare

from scipy.stats import chisquare

obs = data['scale'].value_counts()

exp = [e, e, e, e, e, e]

stat, pvalue = chisquare(f_obs = obs, f_exp = exp)

print(int(stat))
print(0)
print('기각')

411
0
기각

# (끝)