## ëª¨ì˜ê³ ì‚¬ 1íšŒ

### (ì‘ì—…í˜•1)

#### 1. ì œê³µëœ ë°ì´í„°(iris.csv) Sepal.Width ì»¬ëŸ¼ì— ëŒ€í•´ Sepal.Widthì˜ í‰ê· ê°’ì„ ê¸°ì¤€ìœ¼ë¡œ 3ë°° í‘œì¤€í¸ì°¨ ì´ìƒìœ¼ë¡œ ë–¨ì–´ì§„ ê°’ë“¤ì˜ í•©ì„ êµ¬í•˜ì—¬ë¼.

4.4

In [3]:
import pandas as pd
data = pd.read_csv(r'C:\BigData\practice_data\ëª¨ì˜ê³ ì‚¬\01íšŒ\iris.csv')

width = data['Sepal.Width'] 
mean = width.mean()
std = width.std(ddof=1)

n = mean + 3*std
result = width[width>=n].sum()
print(result)

4.4

---

#### 2. ì œê³µëœ ë°ì´í„°(mtcars1.csv)ì˜ disp ì»¬ëŸ¼ì— ëŒ€í•´ì„œ ìˆœìœ„ë¥¼ ë¶€ì—¬í•œ í›„, 1ìœ„ë¶€í„° 20ìœ„ê¹Œì§€ì˜ ê°’ë“¤ì˜ í‘œì¤€í¸ì°¨ë¥¼ êµ¬í•˜ê³  ì†Œìˆ˜ì  ì…‹ì§¸ ìë¦¬ì—ì„œ ë°˜ì˜¬ë¦¼í•˜ì—¬ ë‚˜íƒ€ë‚´ì–´ë¼. (ë‹¨, ë™ì ì€ ë™ì¼í•œ ìˆœìœ„ë¥¼ ë¶€ì—¬í•˜ë˜ ìƒìœ„ ë“±ìˆ˜ë¥¼ ê¸°ì¤€ìœ¼ë¡œ í•˜ë©° ìµœëŒ“ê°’ì„ 1ìœ„ë¡œ í•¨)

97.47

In [8]:
import pandas as pd
data = pd.read_csv(r'C:\BigData\practice_data\ëª¨ì˜ê³ ì‚¬\01íšŒ\mtcars1.csv')

data['rank'] = data['disp'].rank(method='min', ascending=False)

std = data[data['rank'] <= 20]['disp'].std(ddof=1)
print(round(std, 2))

97.47

---

#### 3. ì œê³µëœ ë°ì´í„°(Cars93.csv)ì˜ ì „ì²´ ë ˆì½”ë“œ ìˆ˜, ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” ì»¬ëŸ¼ì˜ ìˆ˜, ì „ì²´ ê²°ì¸¡ì¹˜ ìˆ˜, ê²°ì¸¡ì¹˜ê°€ 10ê°œ ì´ìƒì¸ ì»¬ëŸ¼ë“¤ì˜ ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” ë ˆì½”ë“œë§Œ ì‚­ì œí•œ í›„ì˜ ì „ì²´ ë ˆì½”ë“œì˜ ìˆ˜ì™€ ë‘ ê°œ ì´ìƒì˜ ì»¬ëŸ¼ì´ ë™ì‹œì— ê²°ì¸¡ì¸ ë ˆì½”ë“œì˜ í–‰ë²ˆí˜¸ë“¤ì˜ í•©ì„ êµ¬í•œ í›„ ëª¨ë‘ í•©í•˜ì—¬ë¼.

614

In [39]:
import pandas as pd
import numpy as np
data = pd.read_csv(r'C:\BigData\practice_data\ëª¨ì˜ê³ ì‚¬\01íšŒ\Cars93.csv')

r1 = len(data)

# ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” ì¹¼ëŸ¼ì˜ ìˆ˜
r2 = 0
for i in data.columns:
    if(data[i].isna().sum()>0):
        r2 = r2 + 1

# ì „ì²´ ê²°ì¸¡ì¹˜ ìˆ˜
r3 =0
for i in data.columns:
    r3 = r3 +  data[i].isna().sum()

# ê²°ì¸¡ì¹˜ê°€ 10ê°œ ì´ìƒì¸ ì¹¼ëŸ¼ë“¤ì˜ ê²°ì¸¡ì¹˜ê°€ ìˆëŠ” ë ˆì½”ë“œë§Œ ì‚­ì œí•œ í›„ì˜ ì „ì²´ ë ˆì½”ë“œ ìˆ˜
# for i in data.columns:
#     print({i}, data[i].isna().sum())

drop_data = data.dropna(subset=['Turn_circle', 'Rear_seat_room','Luggage_room'])
r4 = len(drop_data)

# ë‘ ê°œ ì´ìƒì˜ ì¹¼ëŸ¼ì´ ë™ì‹œì— ê²°ì¸¡ì¸ ë ˆì½”ë“œì˜ í–‰ ë²ˆí˜¸ë“¤ì˜ í•©
r5 = np.sum(data[data.isna().sum(axis=1)>=2].index)


print(r1, r2, r3, r4, r5)
result = r1 + r2 + r3 + r4 + r5
print(result)

93 5 39 70 407
614

---

### (ì‘ì—…í˜•2)

### 1. ì•„ë˜ëŠ” íƒ€ì´íƒ€ë‹‰í˜¸ì˜ íƒ‘ìŠ¹ìë“¤ì˜ ìƒì¡´ê³¼ ê´€ë ¨í•œ ë°ì´í„°ì´ë‹¤. ì£¼ì–´ì§„ ë°ì´í„°ë¥¼ ì´ìš©í•˜ì—¬ ì˜ˆì¸¡ ëª¨í˜•ì„ ë§Œë“¤ê³  ì•„ë˜ì— ë”°ë¼ CSV íŒŒì¼ì„ ìƒì„±í•˜ì‹œì˜¤.

In [ ]:
# id, survieved(ìƒì¡´ì—¬ë¶€: 0,1)

In [96]:
#### ëª¨ì˜ê³ ì‚¬ 01íšŒì°¨_ì‘ì—…í˜•2 Solution

##### STEP1. ë°ì´í„°ì…‹ ë¶ˆëŸ¬ì˜¤ê¸°
import pandas as pd
X_train = pd.read_csv(r'C:\BigData\practice_data\ëª¨ì˜ê³ ì‚¬\01íšŒ\titanic3_X_train.csv')
X_test = pd.read_csv(r'C:\BigData\practice_data\ëª¨ì˜ê³ ì‚¬\01íšŒ\titanic3_X_test.csv')
y_train = pd.read_csv(r'C:\BigData\practice_data\ëª¨ì˜ê³ ì‚¬\01íšŒ\titanic3_y_train.csv')

In [97]:
pd.options.display.max_columns = None

In [98]:
# ë°ì´í„° í™•ì¸
print(X_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785 entries, 0 to 784
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        785 non-null    int64
 1   pclass    785 non-null    int64
 2   name      785 non-null    object
 3   sex       785 non-null    object
 4   age       628 non-null    float64
 5   sibsp     785 non-null    int64
 6   parch     785 non-null    int64
 7   ticket    785 non-null    object
 8   fare      784 non-null    float64
 9   cabin     171 non-null    object
 10  embarked  784 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 67.6+ KB
None

In [99]:
print(X_test.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 524 entries, 0 to 523
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        524 non-null    int64
 1   pclass    524 non-null    int64
 2   name      524 non-null    object
 3   sex       524 non-null    object
 4   age       418 non-null    float64
 5   sibsp     524 non-null    int64
 6   parch     524 non-null    int64
 7   ticket    524 non-null    object
 8   fare      524 non-null    float64
 9   cabin     124 non-null    object
 10  embarked  523 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 45.2+ KB
None

In [100]:

print(y_train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785 entries, 0 to 784
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   ID        785 non-null    int64
 1   survived  785 non-null    int64
dtypes: int64(2)
memory usage: 12.4 KB
None

In [101]:
print(X_train.head())

   ID  pclass      name   sex   age  sibsp  parch             ticket    fare  \
0   1       3  Sdy*****  male   NaN      0      0             349222  7.8958
1   2       3  Pel*****  male  25.0      0      0  STON/O 2. 3101291  7.9250
2   3       3  Kar*****  male  22.0      0      0             350060  7.5208
3   4       3  Saa*****  male   NaN      0      0               2676  7.2250
4   5       3  Cor*****  male  19.0      0      0             349231  7.8958

  cabin embarked
0   NaN        S
1   NaN        S
2   NaN        S
3   NaN        C
4   NaN        S

In [102]:
print(X_test.head())

    ID  pclass      name     sex   age  sibsp  parch    ticket      fare  \
0  786       1  All*****  female   2.0      1      2    113781  151.5500
1  787       1  And*****    male  39.0      0      0    112050    0.0000
2  788       1  Bau*****    male   NaN      0      0  PC 17318   25.9250
3  789       1  Bax*****    male  24.0      0      1  PC 17558  247.5208
4  790       1  Bea*****    male  36.0      0      0     13050   75.2417

     cabin embarked
0  C22 C26        S
1      A36        S
2      NaN        S
3  B58 B60        C
4       C6        C

In [103]:
print(y_train.head())

   ID  survived
0   1         0
1   2         0
2   3         0
3   4         0
4   5         0

In [104]:
print(X_train.shape)
print(y_train.shape)
print(X_test.shape)

(785, 11)
(785, 2)
(524, 11)

In [105]:
# ë°ì´í„° id, í•„ìš”ì—†ëŠ” ì¹¼ëŸ¼ ì œê±°
result_id = X_test['ID']
X_train.drop(columns=['ID', 'name','ticket'], inplace=True)
X_test.drop(columns=['ID', 'name','ticket'], inplace=True)
y_train.drop(columns=['ID'], inplace = True)

In [106]:
# ë°ì´í„° ë¶„ë¦¬ (ì¹´í…Œê³ ë¦¬, ìˆ˜ì¹˜)
category_X_train = X_train.select_dtypes('object')
conti_X_train = X_train.select_dtypes(exclude = 'object')

category_X_test = X_test.select_dtypes('object')
conti_X_test = X_test.select_dtypes(exclude='object')

In [107]:
# ì¹´í…Œê³ ë¦¬ ê²°ì¸¡ì¹˜ í™•ì¸
for i in category_X_train.columns:
    print({i}, category_X_train[i].isna().sum())

for i in category_X_test.columns:
    print({i}, category_X_test[i].isna().sum())

{'sex'} 0
{'cabin'} 614
{'embarked'} 1
{'sex'} 0
{'cabin'} 400
{'embarked'} 1

In [108]:
# ì¹´í…Œê³ ë¦¬ ê²°ì¸¡ì¹˜ ì œê±°
category_X_train.drop(columns = ['cabin'], inplace = True)
category_X_test.drop(columns =['cabin'], inplace = True)

category_X_train['embarked'].fillna(category_X_train['embarked'].mode()[0], inplace = True)
category_X_test['embarked'].fillna(category_X_test['embarked'].mode()[0], inplace = True)

In [109]:
# ìˆ˜ì¹˜í˜• ê²°ì¸¡ì¹˜ í™•ì¸
for i in conti_X_train.columns:
    print({i}, conti_X_train[i].isna().sum())

for i in conti_X_test.columns:
    print({i}, conti_X_test[i].isna().sum())

{'pclass'} 0
{'age'} 157
{'sibsp'} 0
{'parch'} 0
{'fare'} 1
{'pclass'} 0
{'age'} 106
{'sibsp'} 0
{'parch'} 0
{'fare'} 0

In [110]:
# ìˆ˜ì¹˜í˜• ê²°ì¸¡ì¹˜ ì œê±°
conti_X_train['age'].fillna(conti_X_train['age'].mean(), inplace = True)
conti_X_test['age'].fillna(conti_X_test['age'].mean(), inplace = True)
conti_X_train['fare'].fillna(conti_X_train['fare'].mean(), inplace = True)

In [111]:
# ì¹´í…Œê³ ë¦¬ ì¸ì½”ë”©
category_X_train_encoded = pd.get_dummies(category_X_train)
category_X_test_encoded = pd.get_dummies(category_X_test)

In [112]:
# ìˆ˜ì¹˜í˜• ì •ê·œí™”
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
conti_X_train_scaled = pd.DataFrame(scaler.fit_transform(conti_X_train))
conti_X_test_scaled = pd.DataFrame(scaler.fit_transform(conti_X_test))

In [113]:
# ë°ì´í„° í•©ì¹˜ê¸°
X_train = pd.concat([category_X_train_encoded, conti_X_train_scaled], axis = 1)
X_test = pd.concat([category_X_test_encoded, conti_X_test_scaled], axis = 1)

In [114]:
# ë°ì´í„° ë¶„í•  (x_train -> train, val)
from sklearn.model_selection import train_test_split
train_x, val_x, train_y, val_y = train_test_split(X_train, y_train, test_size=0.2)

In [115]:
# ëª¨ë¸ ìƒì„± ë° í•™ìŠµ
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier()
model.fit(train_x, train_y)

C:\Users\user\AppData\Local\Temp\ipykernel_16800\3954824000.py:4: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  model.fit(train_x, train_y)

RandomForestClassifier()

In [116]:
# ëª¨ë¸ í‰ê°€
from sklearn.metrics import roc_curve, auc
f1_score = model.predict_proba(val_x)[:,1]
fpr, tpr, thresholds = roc_curve(val_y, f1_score)
AUC = auc(fpr, tpr)
print(AUC)

0.8480769230769231

In [119]:
# ê²°ê³¼ ë„ì¶œ ë° íŒŒì¼í™”
pred = pd.DataFrame(model.predict(X_test))
result = pd.concat([result_id, pred], axis = 1).rename({0: 'survived'})
result.to_csv(r'C:\BigData\test\ì—°ìŠµë¬¸ì œ\ì‘ì—…í˜•2\result\ëª¨ì˜ê³ ì‚¬1í’€ì´.csv', index=False)

### (ì‘ì—…í˜•3)

#### 1. ì œê³µëœ ë°ì´í„°(Cars93.csv)ë¥¼ í†µí•´ ìë™ì°¨ íƒ€ì…ì´ Smallì¸ ê²½ìš°ë³´ë‹¤ Largeì¸ ê²½ìš°ì˜ í‰ê·  ê°€ê²©ì— ì°¨ì´ê°€ ìˆëŠ” ì§€ tê²€ì •ì„ í†µí•´ ë‹µí•˜ê³ ì í•œë‹¤. ê°€ì„¤ì€ ì•„ë˜ì™€ ê°™ë‹¤.(ë‹¨, ë“±ë¶„ì‚°ì¸ ì •ê·œ í‘œë³¸ì„ ê°€ì •)

#### ğŸ‘€ ê·€ë¬´ê°€ì„¤: ëª¨í‰ê· ì´ ë™ì¼í•˜ë‹¤

##### (a) : Typeì´ Smallì¸ ê²½ìš°ì™€ Largeì¸ ê²½ìš°ì˜ Price ê°’ì„ ê°ê° í• ë‹¹í•˜ê³ , mean()ì„ í†µí•´ ì  ì¶”ì •ëŸ‰(=í‘œë³¸í‰ê· ë“¤ì˜ ì°¨ì´)ì„ ë¬¸ì œì—ì„œ ìš”êµ¬í•˜ëŠ” í˜•íƒœì— ë§ê²Œ ì¶œë ¥í•œë‹¤.

#### âœ… Large íƒ€ì…ì˜ ëª¨í‰ê·  - Small íƒ€ì…ì˜ ëª¨í‰ê·  ì˜ ì ì¶”ì •ëŸ‰ êµ¬í•˜ë¼ (ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ê³„ì‚°)

13.85

In [123]:
import pandas as pd
data = pd.read_csv(r'C:\BigData\practice_data\ëª¨ì˜ê³ ì‚¬\01íšŒ\Cars93.csv')

data.dropna(subset=['Type', 'Price'], inplace = True)

large = data[data['Type'] == 'Large']['Price']
small = data[data['Type'] == 'Small']['Price']

large_mean = large.mean()
small_mean = small.mean()

p = large_mean - small_mean
print(round(p, 2))

13.85

##### (b) : ttest_ind() í•¨ìˆ˜ë¥¼ ì´ìš©í•´ ë…ë¦½í‘œë³¸ tê²€ì •ì„ ìˆ˜í–‰í•˜ê³ , ê²€ì •í†µê³„ëŸ‰(=ì ì¶”ì •ëŸ‰/í‘œì¤€ì˜¤ì°¨)ì„ ë¬¸ì œì—ì„œ ìš”êµ¬í•˜ëŠ” í˜•íƒœì— ë§ê²Œ ì¶œë ¥í•œë‹¤.

#### âœ… aì— ëŒ€í•œ í‘œì¤€ ì˜¤ì°¨ë¥¼ êµ¬í•˜ë¼ (ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ ë‘˜ì§¸ ìë¦¬ê¹Œì§€ ê³„ì‚°)

1.61

In [126]:
# í‘œì¤€ ì˜¤ì°¨ = ì ì¶”ì •ëŸ‰/ê²€ì •í†µê³„ëŸ‰
# ë…ë¦½ í‘œë³¸ t ê²€ì •
from scipy.stats import ttest_ind
stat, pvalue = ttest_ind(large, small)

se = p/stat
print(round(se, 2))

1.61

##### (c)~(d) : interval() í•¨ìˆ˜ë¥¼ ì´ìš©í•´ 95% ì‹ ë¢° í•˜í•œì„ ê³„ì‚°í•˜ê³  í˜•íƒœì— ë§ê²Œ ì¶œë ¥í•œë‹¤. ë˜í•œ ì´ ê°’ì´ 0ë³´ë‹¤ í¬ê¸° ë•Œë¬¸ì— ê°€ì„¤ì€ â€˜ê¸°ê°â€™ëœë‹¤.

#### âœ… a~bë¥¼ í†µí•´ 95% ì‹ ë¢°í•˜í•œì„ êµ¬í•˜ê³  (ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ ì²«ì§¸ ìë¦¬ê¹Œì§€ ê³„ì‚°),
#### âœ… ìœ ì˜ìˆ˜ì¤€ 0.05 í•˜ì—ì„œ ê°€ì„¤ê²€ì •ì˜ ê²°ê³¼ë¥¼ ì±„íƒ/ê¸°ê° ì¤‘ í•˜ë‚˜ë¡œ ì¶œë ¥í•˜ë¼

10.5
ê¸°ê°

#### 2. ì œê³µëœ ë°ì´í„°(dices.csv)ëŠ” ì£¼ì‚¬ìœ„ë¥¼ ë˜ì¡Œì„ ë•Œ 1~6ì´ ë‚˜ì˜¬ í™•ë¥ ì´ 1/6ë¡œ ë™ì¼í•˜ë‹¤ëŠ” ì´ë¡ ì´ì‹¤ì œë¡œëŠ” ë‹¤ë¥´ë‹¤ëŠ” ê²ƒì„ ë³´ì´ê¸° ìœ„í•´ì„œ ì£¼ì‚¬ìœ„ë¥¼ 500ë²ˆ ë˜ì§„ ê²°ê³¼ì´ë‹¤. ì´ë¥¼ ì í•©ë„ ê²€ì •ì„ í†µí•´ ë‹µí•˜ê³ ì í•œë‹¤. ê°€ì„¤ì€ ì•„ë˜ì™€ ê°™ë‹¤.

#### ğŸ‘€ ê·€ë¬´ê°€ì„¤: ëª¨ë¹„ìœ¨ì´ ëª¨ë‘ ë™ì¼í•˜ë‹¤

##### (a) : ì£¼ì‚¬ìœ„ ëˆˆê¸ˆë³„ ë°œìƒ ë¹ˆë„ë¥¼ ê³„ì‚°í•˜ê³ , ì£¼ì‚¬ìœ„ ëˆˆê¸ˆ 3ì´ ë‚˜ì˜¬ ê¸°ëŒ€ë„ìˆ˜ë¥¼ ë¬¸ì œì—ì„œ ìš”êµ¬í•˜ëŠ” í˜•íƒœì— ë§ê²Œ ì¶œë ¥í•œë‹¤.

#### âœ… ì£¼ì‚¬ìœ„ ëˆˆê¸ˆì´ 3ì´ ë‚˜ì˜¬ ê¸°ëŒ€ë„ìˆ˜ë¥¼ êµ¬í•˜ì‹œì˜¤ (ì†Œìˆ˜ì ì„ ë²„ë¦¬ê³  ì •ìˆ˜ê°’ìœ¼ë¡œ ê³„ì‚°)

83

In [145]:
import pandas as pd
data = pd.read_csv(r'C:\BigData\practice_data\ëª¨ì˜ê³ ì‚¬\01íšŒ\dices.csv')

total = len(data)
e = float(total)/6

print(int(e))

83

In [146]:
print(data.columns)

Index(['trial', 'scale'], dtype='object')

##### (b)~(d) : chisquare() í•¨ìˆ˜ë¥¼ í†µí•´ ì í•©ë„ ê²€ì •ì„ ìˆ˜í–‰í•˜ê³ , ê²€ì •í†µê³„ëŸ‰ê³¼ p- ê°’ì„ ë¬¸ì œì—ì„œ ìš”êµ¬í•˜ëŠ” í˜•íƒœì— ë§ê²Œ ì¶œë ¥í•œë‹¤. p - ê°’ì´ 0ì´ë¯€ë¡œ ë³¸ ê°€ì„¤ ê²€ì •ì€ â€˜ê¸°ê°â€™í•œë‹¤.

#### âœ… ìœ„ ê°€ì„¤ì„ ê²€ì •í•˜ê¸° ìœ„í•œ ê²€ì •í†µê³„ëŸ‰ì„ êµ¬í•˜ì‹œì˜¤ (ì†Œìˆ˜ì ì„ ë²„ë¦¬ê³  ì •ìˆ˜ê°’ìœ¼ë¡œ ê³„ì‚°)
#### âœ… ìœ„ í†µê³„ëŸ‰ì— ëŒ€í•œ pvalueë¥¼ êµ¬í•˜ê³  (ë°˜ì˜¬ë¦¼í•˜ì—¬ ì†Œìˆ˜ ë„·ì§¸ ìë¦¬ê¹Œì§€ ì¶œë ¥í•˜ë˜, 0.0001ë³´ë‹¤ ì‘ì„ ê²½ìš° ì •ìˆ˜ 0ì„ ì¶œë ¥)
#### âœ… ìœ ì˜ìˆ˜ì¤€ 0.05í•˜ì—ì„œ ê°€ì„¤ê²€ì •ì˜ ê²°ê³¼ë¥¼ ì±„íƒ/ê¸°ê° ì¤‘ í•˜ë‚˜ë¥¼ ì¶œë ¥í•˜ì‹œì˜¤

411
0
ê¸°ê°

In [150]:
# ì í•©ë„ ê²€ì •. ë²”ì£¼í˜• ë°ì´í„° -> ì¹´ì´ì œê³± ê²€ì • -> chisquare

from scipy.stats import chisquare

obs = data['scale'].value_counts()

exp = [e, e, e, e, e, e]

stat, pvalue = chisquare(f_obs = obs, f_exp = exp)

print(int(stat))
print(0)
print('ê¸°ê°')

411
0
ê¸°ê°

# (ë)